<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<style>
* {
  box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
}

.column-img {
  float: left;
  width: 25%;
  border: 30px;
  height: 300px;
  position: relative;
  /* left: 10px; */
  align-items: center;
  text-align: center;
  display: block;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 80%;
  height: 80%;
}
.column {
  float: left;
  width: 75%;
  padding: 20px;
  border: 30px;
  height: 300px;
  position: relative;
}

.row{
    margin: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.bg-yellow {
    background: #E3AE57;
}

.bg-skin {
	background: #f1e2d7;
}
.bg-red {
    background: #E9724C;
}
.text-white {
	color: #FFF;
}
.text-dark {
    color: #000000;
}
h2 {
    text-align: center;
}
.heading {
    text-align: center;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #E3AE57;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color:  #E9724C;
  color: white;
}

button {
    display: inline-block;
    /* width: ; */
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 5px; */
}
#proceed {
    background-color:#000;
    border-radius: 10px;
    border: 3px double #000;
    color: #f1e2d7;
    text-align: center;
    /* font-size: inherit; */
    /* padding: 10px; */
    padding-left: 20px;
    padding-right: 20px;

}
#phish_param {
    background-color:#b68434;
    /* border-radius: 10px; */
    border: 2px double #cccccc;
    border-radius: 5px;
    padding: 5pt;
    /* color: #eeeeee; */
    text-align: center;
    font-size: inherit;
}

#tls_cert_details {
    background-color:#b85230;
    /* border-radius: 10px; */
    border: 2px double #cccccc;
    border-radius: 5px;
    padding: 5pt;
    /* color: #eeeeee; */
    text-align: center;
    font-size: inherit;
}
button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.5s;
}
/* button:hover {
background-color: #f7c2f9;
} */
button:hover span {
    padding-right: 25px;
}
#proceed:hover span {
    padding-left: 25px;
}
button:hover span:after {
    opacity: 1;
    right: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

td, th {
  border: 3px solid #f1e2d7;
  text-align: center;
  padding: 8px;
}

#footer {
    position: absolute;
    /* display: inline; */
    padding: 10px 10px 10px 10px;
    bottom: 20px;
    width: 95%;
    /* Height of the footer*/ 
    height: 40px;
    /* background: grey; */
}
p {
    padding: 10px 10px 0px 10px;
}

i {
    vertical-align: middle;
}

a {
  color: #eee;
  text-decoration: none;
}
</style>

<title>WAVS Scan Results</title>
</head>
<body>

<div class="heading"> 
    <h1>Scan Results</h1>
    <h3>URL: <%= url %></h3>
</div>



<% if (locals.phishing) { %>
<div class="row">
    <div class="column-img">
      <img src="https://i.ibb.co/rtpgqVD/phishing.jpg" class="center">
    </div>
    <div class="column bg-yellow text-white" style="text-align: center;">
        <h2>Potential Phishing Attempts</h2>
        <% if (phishing.result === "Legitimate") { %>
            <p><i class="material-icons" style="color: green; ">done</i> <b>Legitimate:</b> This website does not seem to have any major characteristics of a phishing domain</p>
        <% } %>
        <% if (phishing.result === "Suspicious") { %>
            <p><i class="material-icons" style="color: yellow;">error</i> <b>Suspicious:</b> This website may be phishy, although we do not have conclusive evidence</p>
        <% } %>
        <% if (phishing.result === "Phishing") { %>
            <p><i class="material-icons" style="color: red;">dangerous</i> <b>Phishing:</b> This website seems to be <i>phishy</i>! We recommend not to visit it</p>
        <% } %>

      
      <!-- Trigger/Open The Modal -->
        <button id="phish_param"><span class="text-white">Click here for Detailed Analysis</span></button> 
        <div id="footer" style="text-align: center;">
            <b>Quick Links:</b> <a target="_blank" href="https://www.imperva.com/learn/application-security/phishing-attack-scam">Introduction to Phishing Attacks</a> | <a target="_blank" href="https://www.globalsign.com/en/blog/how-to-spot-a-fake-website">How to Spot a Phishing Website</a>
        </div>      
    </div>
</div>
<% } %>

<% if (locals.tls_cert) { %>
<div class="row">
  <div class="column bg-red text-white" style="text-align: center;">
    <h2>SSL/TLS Certificate Validation</h2>
    <% if (tls_cert.result === "Valid") { %>
        <p><i class="material-icons" style="color: green; ">done</i> <b>Valid:</b> This website possesses a valid SSL/TLS certificate</p>
    <% } %>
    <% if (tls_cert.result === "Valid (with Warnings)") { %>
        <p><i class="material-icons" style="color: yellow; ">error</i> <b>Valid (with Warnings):</b> This website has valid SSL/TLS certificate, but the issuing authority or expiry may be questionable</p>
    <% } %>
    <% if (tls_cert.result === "Invalid") { %>
        <p><i class="material-icons" style="color: red; -webkit-text-stroke: 0.5px rgb(0, 0, 0);">dangerous</i> <b>Invalid:</b> This website does not have valid SSL/TLS certificate</p>
    <% } %>

    <button id="tls_cert_details"><span class="text-white">Click here for Certificate Details</span></button> 
    <div id="footer">
        <b>Quick Links:</b> <a target="_blank" href="https://protonmail.com/blog/tls-ssl-certificate/">Working of SSL/TLS Certificates</a> | <a target="_blank" href="https://www.venafi.com/blog/how-do-certificate-chains-work">Certificate Chains</a>
    </div>
  </div>
  <div class="column-img">
    <img src="https://i.ibb.co/W3rfyHc/tls.png"  class="center">
  </div>
</div>
<% } %>

<% if (locals.open_redir) { %>
<div class="row">
  <div class="column-img">
    <img src="https://i.ibb.co/RDWx8Gs/or.jpg" class="center">
  </div>
  <div class="column text-white" style="background-color:#000; text-align: center;">
    <h2>Open Redirects</h2>
    
    <% if (open_redir.result === "Not Vulnerable") { %>
        <p><i class="material-icons" style="color: rgb(75, 255, 75); ">done</i> <b>Not Vulnerable:</b> This website has not been identified with any Open Redirect vulnerabilities</p>
    <% } else if (open_redir.result === "Header Based Redirection" || open_redir.result === "Open Redirection") { %>
      <p><i class="material-icons" style="color: red; ">dangerous</i> <b>Vulnerability Detected:</b> This website has been identified with <i><%= open_redir.result %></i> </p>

      <% if (open_redir.result === "Header Based Redirection") { %>
        <p><b>Query Parameter for Redirection:</b> <%= open_redir.details.parameter %></p>
      <% } %>
    <% } else { %>
      <p><i class="material-icons" style="color: yellow; ">error</i> <b>Client Error:</b> <i><%= open_redir.result %></i> </p>
    <% } %>  



    <div id="footer">
      <b>Quick Links:</b> <a target="_blank" href="https://portswigger.net/kb/issues/00500100_open-redirection-reflected">Open Redirect (Reflected)</a> | <a target="_blank" href="https://blog.detectify.com/2019/05/16/the-real-impact-of-an-open-redirect/">Impact of Open Redirects</a>
    </div>
  </div>
</div>
<% } %>  

<% if (locals.xss) { %>
<div class="row">
  <div class="column bg-skin" style="">
    <h2>Cross-Site Scripting (XSS)</h2>
    <p>Some text..</p>
    <div id="footer">Quick Links</div>
  </div>
  <div class="column-img">
    <img src="https://i.ibb.co/C83FMKp/xss.jpg" class="center">
  </div>
</div>
<% } %>  

<!-- <% if (locals.phishing) { %> -->
<div id="phish_modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content text-dark">
      <div class="modal-header">
        <span class="close" id="phish_modal_close">&times;</span>
        <h2>Phishing Detection Features</h2>
      </div>
      <div class="modal-body" style="text-align: center;">
        <!-- <p>Some text in the Modal Body</p> -->
        <% if (phishing.details.prechecks === "passed") { %>
            <table>
                <tr>
                <th>Paramter</th>
                <th>Description</th>
                <th>Status</th>
                </tr>
                <% for (let i = 0; i < phishing.details.features.length; i++) { %>
                    <tr>
                        <td><%= phishing.details.features[i].feature %></td>
                        <td><%= phishing.details.features[i].desc %></td>
                        <td><%= phishing.details.features[i].value %></td>
                    </tr>
                <% } %>
            </table>
        <% } else { %>
            <h3>Failed Prechecks:</h3>

            <% for (let i = 0; i < phishing.details.failed_prechecks.length; i++) { %>
            <p><%= phishing.details.failed_prechecks[i] %></p>
            <% } %>
            
        <% } %>
      </div>
      <div class="modal-footer">
        <!-- <h3>M</h3> -->
      </div>
    </div> 
</div>
<!-- <% } %>   -->

<!-- <% if (locals.tls_cert) { %> -->
<div id="tls_modal" class="modal">

    <!-- Modal content -->
    <div class="modal-content text-dark">
      <div class="modal-header">
        <span class="close" id="tls_modal_close">&times;</span>
        <h2>SSL/TLS Certificate Details</h2>
      </div>
      <div class="modal-body" style="text-align: center; padding-top: 10px">
        <h3>Certificate Chain</h3>
        <% for (let i = 0; i < tls_cert.details.length; i++) { %>
            <table>
                <tr>
                    <td><b>Subject</b></td>
                    <td><%= tls_cert.details[i].subject %></td>
                </tr>
                <tr>
                    <td><b>Expires On</b></td>
                    <td><%= tls_cert.details[i].expires %></td>
                </tr>
                <tr>
                    <td><b>Issuer</b></td>
                    <td><%= tls_cert.details[i].issuer %></td>
                </tr>
            </table>
            <br>
        <% } %>

        <div style="text-align: center;">
            <% if (tls_cert.warnings.length > 0) { %>
                <hr>
                <h3><i class="material-icons" style="color: rgb(255, 186, 58); ">error</i>Warnings</h3>
    
                <% for (let i = 0; i < tls_cert.warnings.length; i++) { %>
                    <p><%= tls_cert.warnings[i] %></p>
                <% } %>
            <% } %>
    
            <% if (tls_cert.errors.length > 0) { %>
                <hr>
                <h3><i class="material-icons" style="color: red; ">dangerous</i>Errors</h3>
    
                <% for (let i = 0; i < tls_cert.errors.length; i++) { %>
                    <p><%= tls_cert.errors[i] %></p>
                <% } %>
            <% } %>
        </div>
      </div>
      <div class="modal-footer"> 
    </div>
  </div>
</div>
<!-- <% } %> -->

<div class="heading">
    <br>
    <button id="proceed"><span><a target="_blank" style="color: #fff; text-decoration: none;" href="<%= url %>"><h2>Proceed to URL</h2></a></span></button>
</div>

<% if (locals.phishing) { %>
<script>
    /////////////////////// Phishing Modal ///////////////////////////
    // Get the modal
    var phish_modal = document.getElementById("phish_modal");
    
    // Get the button that opens the modal
    var phish_btn = document.getElementById("phish_param");
    
    // Get the <span> element that closes the modal
    var phish_modal_close = document.getElementById("phish_modal_close");
    
    // When the user clicks the button, open the modal 
    phish_btn.onclick = function() {
        phish_modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    phish_modal_close.onclick = function() {
        phish_modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == phish_modal) {
        phish_modal.style.display = "none";
      }
    }
</script>
<% } %>

<% if (locals.tls_cert) { %>
<script>
    //////////////////////// TLS Modal //////////////////////////////
    var tls_modal = document.getElementById("tls_modal");
    
    // Get the button that opens the modal
    var tls_btn = document.getElementById("tls_cert_details");
    
    // Get the <span> element that closes the modal
    var tls_modal_close = document.getElementById("tls_modal_close");
    
    // When the user clicks the button, open the modal 
    tls_btn.onclick = function() {
        tls_modal.style.display = "block";
    }
    
    // When the user clicks on <span> (x), close the modal
    tls_modal_close.onclick = function() {
        tls_modal.style.display = "none";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == tls_modal) {
        tls_modal.style.display = "none";
      }
    }
</script>
<% } %>

</body>
</html>
